Harendra_Kumar/Day_5/Email_Classifier_Labeller_Draft_generation_fetching.json
{
  "name": "Email_Classifier_Labeller_Draft_generation_fetching",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        64
      ],
      "id": "e0f539c8-af14-4b8b-9181-7444983be93c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "rMmG6YVTi0AiLaKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body- {{ $json.snippet }}\n\nSubject- {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Important Emails",
              "description": "Any email which requires attention from learners, college staff members, courses inquiries, mentoring help needed etc. requiring any services and consultancy or advisory for my AI expertise. "
            },
            {
              "category": "News Letters",
              "description": "Any email which is a newsletter containing updates and news of any product and services should be classified in this category"
            },
            {
              "category": "Promotional",
              "description": "Any email having promotional thing and just a redundant email telling about their product and services or updates and offers"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -416,
        128
      ],
      "id": "3e840884-2e87-4647-a569-b49bd2fbb37c",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3909389929911741162"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -32,
        192
      ],
      "id": "17e89628-9fcf-4b5c-94c4-61e147c31a49",
      "name": "Add label to message1",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "rMmG6YVTi0AiLaKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4275531974797102860",
          "Label_3410947367156789350"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        368
      ],
      "id": "7bcbb9dc-55b5-4761-88d1-1c905dce2065",
      "name": "Add label to message2",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "rMmG6YVTi0AiLaKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ec43f9d2-8bea-4e13-adc1-9e6eff05acb2",
      "name": "Add label to message",
      "webhookId": "c5c1431b-4c6a-44e0-8b0f-3b0cb4eff8fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "rMmG6YVTi0AiLaKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.snippet }}\n\nAlways end your email with Thanks & Regards\n<Name>\nDon't give me subject in output\n\nOther Instruction-\nAbout my company- \nAbout the role"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        16
      ],
      "id": "320c6168-a4fc-4895-8874-7698b671e553",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "kHak2vSVpxPtITRo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        224
      ],
      "id": "f57f07df-5a91-4565-a350-c07a63662edd",
      "name": "Reply to a message",
      "webhookId": "ee44a0c1-578a-413c-b5aa-c626e9f72d9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "rMmG6YVTi0AiLaKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        16
      ],
      "id": "8472642a-f9c0-46bc-b1b4-41669581b5e2",
      "name": "Create a draft",
      "webhookId": "7e9209d3-5fdd-449f-be62-452bd9183d8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "rMmG6YVTi0AiLaKh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        336
      ],
      "id": "119a21cb-c4b9-4b95-88e0-f539a0da19e1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kHak2vSVpxPtITRo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7554f9d6-17d0-469e-abe3-7bccdc672873",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d2d58c0b405e11fde01abc6d31e530a3093efd1b4a9b2f679e62bfec04e34d0"
  },
  "id": "sPDgqNegeZV3VEbk",
  "tags": []
}