Arighna_Dutta/Email_Classifier_Labeller_Draft_generation_fetching_arighna.json
{
  "name": "Email_Classifier_Labeller_Draft_generation_fetching",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        -48
      ],
      "id": "04b5055a-4686-46a5-ac6b-4c715c0db8ba",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0EGB2cnDyVUjDXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body- {{ $json.snippet }}\n\nSubject- {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Important Emails",
              "description": "Any email which requires attention from learners, college staff members, courses inquiries, mentoring help needed etc. requiring any services and consultancy or advisory for my AI expertise. "
            },
            {
              "category": "News Letters",
              "description": "Any email which is a newsletter containing updates and news of any product and services should be classified in this category"
            },
            {
              "category": "Promotional",
              "description": "Any email having promotional thing and just a redundant email telling about their product and services or updates and offers"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        400,
        16
      ],
      "id": "784cc6e0-25d3-4dcb-a180-f978256a4fe3",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_5878556163034231787"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        80
      ],
      "id": "49567206-b0dd-4c9f-bf65-bca90e58f26e",
      "name": "Add label to message1",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0EGB2cnDyVUjDXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4196050636653718567"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        256
      ],
      "id": "a6133edc-0838-4f07-a262-a1f63267c4b0",
      "name": "Add label to message2",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0EGB2cnDyVUjDXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        -112
      ],
      "id": "b80ee047-18d5-421a-8804-63a6e5f1b29d",
      "name": "Add label to message",
      "webhookId": "c5c1431b-4c6a-44e0-8b0f-3b0cb4eff8fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0EGB2cnDyVUjDXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.snippet }}\n\nAlways end your email with Thanks & Regards\n<Name>\nDon't give me subject in output\n\nOther Instruction-\nAbout my company- \nAbout the role"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        -96
      ],
      "id": "81f63628-b5b6-4cbd-ae3e-f151206cf08e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "SyiWZBPtaXwj9uxL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        112
      ],
      "id": "396b9eac-b3d2-454a-ac4d-c7e3dbe03a97",
      "name": "Reply to a message",
      "webhookId": "ee44a0c1-578a-413c-b5aa-c626e9f72d9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0EGB2cnDyVUjDXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        -96
      ],
      "id": "ab6e6cd2-4a33-4ed8-9574-be5df059b188",
      "name": "Create a draft",
      "webhookId": "7e9209d3-5fdd-449f-be62-452bd9183d8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "a0EGB2cnDyVUjDXn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        224
      ],
      "id": "7d67fae3-dc21-4f47-862d-a7ae7f8beaa2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SyiWZBPtaXwj9uxL",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b08876a-390d-44d0-8304-3946227f35cd",
  "meta": {
    "instanceId": "b85b43a41c76b0b55d43e850c1eaeee31ca9b9ac8c4fbe3baf67fc66f505ec71"
  },
  "id": "gDqzSqelJU9Wucy2",
  "tags": []
}